## TRAVEL AGENCY DATA DESCRIPTION

The table illustrates a travel agency data, which consistes upto 138 enteries of 13 columns as complete metrics

Focusing, on the first column gives Trip id in decending numeric format till 138. The id are uniquely given to every trip. Secondly, Destination column consist the geographyical area of a trip mostly data having city name with respect to it's country otherwise only country or city is mention.

Further, columns provide starting and ending data by this duration of that trip is obtain in months. Following 4 consecutive 4 block having traveler basic in the order primarily name then age , gender and nationailty

Lastly, from list of 4 data gives the cost of each type of accommodation taken as well as transportation respectively.

## TABLE CONCLUSION

On summimg up all the information, the report demonstrate about the travel booking of people from different region have different cost of transportation as well as accommodation price varies, this is all interconnected with travelers nationality and travelling spot.

## COLUMN CONCLUSION

1. Trip ID - A unique id of each trip having of type int64

2. Destination - Shows a geographical region of trip followed by city name and country name respectively and data are object type

3. Start date - Respective trip's starting date with data of object type having format of dd/mm/yyyy

4. End date - Last date of a respective trip with data of object type having format dd/mm/yyyy

5. Duration - A calculated data of month or days obtain from diffrence of starting and ending date. Values are of float64 type.

6. Traveler name - Consist Traveler full name, combination of first and last name; type as an - object

7. Traveler age - Age of Traveler. Values are of float64 type.

8. Traveler gender - A gender specification of Traveler. Values having object type.

9. Traveler nationality - A proper legal identification of traveler origin country. Values are in object type.

10. Accommodation type - Traveler stay in a respective places e.g:- Hotel, Hostel, Villa manymore are in object type.

11. Accommodation cost - Total Cost traveler payed of where they had stayed having float64 type of data stored.

12. Transportation type - Traveler choice of transportation e.g:- Flight, Car, train object type of data stored.

13. Transportation cost - Total Cost traveler payed for trasportation where they had stayed having float64 type of data stored.

# Type of Issues

### UNTIDY DATA

- Row enteries -
  - From visulazing data, 2 rows are having missing enteries Trip Id - 72 and 129.. Moreover, there is zero column    filled with any enteries.
  - Also, Transportation Cost and type of Trip Id - 83 is missing.

- Duration(month) - The result answer are ascepted in int type whereas; it was in float64.

- Traveler age - Age must store data inint64 type yet it give the output as float64.

- Accommodation cost -
  - The result data are in object type instead of float64.
  - The present data are not in proper format, some have USD while some entered with '$' symbol

- Transportation cost -
  - The result data are in object type instead of float64.  
  - The present data are not in proper format, some have USD while some entered with '$' symbol

## Messy Data

- <b>Destination - </b>Data is sum up as cityname with respect to it is country name but it is expected to have <u> city name and country name in different column.</u> from 17-38, 60-71, 84-115

 - <b>Naming Convention - </b>All the head column does not follow same type of writting format. e.g:- Trip ID while other have Start date

- <b> Duration - </b>The result shows the time span of trip by difference of start and end month; whereas column head says differences give <u> days as an ouput.</u>

- <b> Duration - </b>The result shows the time span of trip by difference of start and end month; whereas column head says differences give <u> days as an ouput.</u>

- <b>Accommodation cost - </b>The name of column not specifiying currency.